@model IEnumerable<Webshop.DAL.Models.Product>

@{
    ViewBag.Title = "Products";
}

<h1>Products</h1>

<table class="table">
    <tr>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Name (@item.Price)
            </td>
        </tr>
    }

</table>
