@page "/"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Webshop.Web.Shared.Models
@using Webshop.Web.Client.Clients
@using System.Net.Http.Json

@inject PublicClient client

<h1>Products</h1>

@if (products == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 row-cols-lg-2 row-cols-xl-3">
    @foreach (var product in products)
    {
        string link = $"addtocart?productid={product.Id}&amount=1&sizeid=3";

        <div class="col mb-4">
            <div class="card text-white bg-dark border-dark" style="width: 18rem;">
                <NavLink href="counter">
                    <img class="card-img-top bg-light" src="@product.ImageSource">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Price Ft</p>
                        <NavLink class="btn btn-primary" href="@link">Add to cart</NavLink>
                    </div>
                </NavLink>
            </div>
        </div>
    }
    </div>
    </div>
}

@code {
    private Product[]? products;

    protected override async Task OnInitializedAsync()
    {
        products = await client.GetMainPageProducts();
    }
}
