@page "/admin/product/upload"

@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Net.Http.Headers
@using Webshop.Web.Client.Clients
@using Webshop.Web.Shared.Models
@using Webshop.Web.Client.Components

@attribute [Authorize]

@inject PrivateClient client
@inject AuthenticationStateProvider AuthenticationStateProvider

<h3>ProductUpload</h3>

<AdminView ErrorText="You are not an admin!">
    <label for="formFile" class="form-label">Default file input example</label>
    <InputFile OnChange="@OnInputFileChange" class="form-control" id="formFile"/>
</AdminView>

@code {
    private const long maxFileSize = 1024 * 1024 * 50;
	private const int maxAllowedFiles = 5;

    private string userId;

	protected override async Task OnInitializedAsync()
	{
		var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
		var user = authState.User;
		userId = user.FindFirst(c => c.Type == "sub")?.Value;
	}

    private async Task OnInputFileChange(InputFileChangeEventArgs e)
	{
		using var content = new MultipartFormDataContent();

        foreach (var file in e.GetMultipleFiles(maxAllowedFiles))
        {
            try
                {
                    var fileContent = 
                        new StreamContent(file.OpenReadStream(maxFileSize));

                    fileContent.Headers.ContentType = 
                        new MediaTypeHeaderValue(file.ContentType);

                    content.Add(
                        content: fileContent,
                        name: "\"files\"",
                        fileName: file.Name);

                    await client.AddProductImage(content, 1, userId);
                }
                catch (Exception ex)
                {

                }
        }
	}
}
