@using Webshop.Web.Shared.Models
@using System.Net.Http.Json
@inject HttpClient httpClient

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Home</NavLink>
      </li>

      @if (categories != null)
      {
        @foreach (var category in categories)
        {
            string link = $"category/{category.Id}";
            <li class="nav-item text-light">
                <NavLink class="nav-link" href="@link">@category.Name</NavLink>
            </li>
        }          
      }
    </ul>
  </div>

</nav>

@code {
    private Category[]? categories;

    protected override async Task OnInitializedAsync()
    {
        categories = await httpClient.GetFromJsonAsync<Category[]>("api/category/main");
    }
}