@inherits LayoutComponentBase

<div class="page">
    
    <header>
        <NavMenu />
    </header>

    <main>
        <article class="content">
            @Body
        </article>
    </main>

    <!--<footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - WebShop
        </div>
    </footer>-->

</div>
